:root {
  --easing: 0.3s ease;
  --navbarHeight: 80px;
}

[data-theme] {
  transition: all var(--easing);
}

[data-theme='light'] {
  --text: hsl(200, 15%, 8%);
  --bg: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
}

[data-theme='dark'] {
  --text: hsl(0, 0%, 100%);
  --bg: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

html {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--bg);
  padding-top: var(--navbarHeight);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
